{{- define "bash" -}}
#!/bin/bash
iptables -I INPUT -j ACCEPT
tee /tmp/server.properties <<EOF
server-port={{.Spec.Server.Port}}
{{ .Spec.Minecraft.Properties }}
{{- if .Spec.Minecraft.Java.Rcon.Enabled }}
broadcast-rcon-to-ops={{.Spec.Minecraft.Java.Rcon.Broadcast}}
rcon.port={{.Spec.Minecraft.Java.Rcon.Port}}
enable-rcon={{.Spec.Minecraft.Java.Rcon.Enabled}}
rcon.password={{.Spec.Minecraft.Java.Rcon.Password}}
{{- end }}
EOF

{{- if .Spec.Monitoring.Enabled }}
{{- template "monitoring-files" . }}
{{- end }}
tee /etc/systemd/system/minecraft.service <<EOF
[Unit]
Description=Minecraft Server
Documentation=https://www.minecraft.net/en-us/download/server
DefaultDependencies=no
After=network.target

[Service]
WorkingDirectory=/minecraft
Type=simple
{{- if and (ne .Spec.Minecraft.Edition "bedrock") (ne .Spec.Minecraft.Edition "forge") }}
ExecStart=/usr/bin/java -Xmx{{.Spec.Minecraft.Java.Xmx}} -Xms{{.Spec.Minecraft.Java.Xms}}{{range .Spec.Minecraft.Java.Options }} {{.}}{{end}} -jar server.jar nogui {{- if or (eq .Spec.Minecraft.Edition "nukkit") (eq .Spec.Minecraft.Edition "powernukkit") }} --language eng {{- end }}
{{- else if eq .Spec.Minecraft.Edition "bedrock" }}
ExecStart=/bin/sh -c "LD_LIBRARY_PATH=. ./bedrock_server"
{{- else if eq .Spec.Minecraft.Edition "forge" }}
ExecStart=/bin/sh -c "./run.sh"
{{- end }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
EOF
apt update
apt-get install -y apt-transport-https ca-certificates curl {{if ne .Spec.Minecraft.Edition "bedrock"}}openjdk-{{.Spec.Minecraft.Java.OpenJDK}}-jre-headless{{else if eq .Spec.Minecraft.Edition "bedrock"}}unzip{{end}} fail2ban
{{- if .Spec.Monitoring.Enabled }}
{{- template "monitoring-binaries" . }}
{{- end }}

sed -i 's/#Port 22/Port {{ .Spec.Server.SSH.Port }}/g' /etc/ssh/sshd_config
service sshd restart

tee /etc/fail2ban/jail.local <<EOF
[sshd]
port = {{ .Spec.Server.SSH.Port }}
enabled = true
maxretry = {{ .Spec.Server.SSH.Fail2ban.Maxretry }}
bantime = {{ .Spec.Server.SSH.Fail2ban.Bantime }}
ignoreip = {{ .Spec.Server.SSH.Fail2ban.Ignoreip }}
EOF

systemctl restart fail2ban
mkdir -p /minecraft

{{- if .Mount }}
mkfs.ext4  /dev/{{ .Mount }}
mount /dev/{{ .Mount }} /minecraft
echo "/dev/{{ .Mount }} /minecraft ext4 defaults,noatime,nofail 0 2" >> /etc/fstab
{{- end }}
{{- if eq .Spec.Minecraft.Edition "java" }}
{{- template "java-binary" . }}
{{- else if eq .Spec.Minecraft.Edition "bedrock" }}
{{- template "bedrock-binary" . }}
{{- else if eq .Spec.Minecraft.Edition "papermc" }}
{{- template "papermc-binary" . }}
{{- else if eq .Spec.Minecraft.Edition "purpur" }}
{{- template "purpur-binary" . }}
{{- else if or (eq .Spec.Minecraft.Edition "spigot") (eq .Spec.Minecraft.Edition "craftbukkit") }}
{{- template "spigotbukkit-binary" . }}
{{- else if eq .Spec.Minecraft.Edition "fabric" }}
{{- template "fabric-binary" . }}
{{- else if eq .Spec.Minecraft.Edition "forge" }}
{{- template "forge-binary" . }}
{{- else if eq .Spec.Minecraft.Edition "nukkit" }}
{{- template "nukkit-binary" . }}
{{- else if eq .Spec.Minecraft.Edition "powernukkit" }}
{{- template "powernukkit-binary" . }}
{{- end }}
echo "eula={{ .Spec.Minecraft.Eula }}" > /minecraft/eula.txt
mv /tmp/server.properties /minecraft/server.properties
chmod a+rwx /minecraft
systemctl restart minecraft.service
systemctl enable minecraft.service
{{- end -}}
