{{- define "fabric-binary" }}
URL="https://maven.fabricmc.net/net/fabricmc/fabric-installer/0.10.2/fabric-installer-0.10.2.jar"
mkdir /tmp/build
cd /tmp/build
curl -sLSf $URL > fabric-installer.jar
java -jar fabric-installer.jar server -downloadMinecraft -mcversion {{ .Spec.Minecraft.Version }}
echo "serverJar=minecraft-server.jar" > /minecraft/fabric-server-launcher.properties
cp /tmp/build/fabric-server-launch.jar /minecraft/minecraft-server.jar
cp /tmp/build/server.jar /minecraft/server.jar
rm -rf /tmp/build
{{- end }}
