{{- define "proxy-bash" -}}
#!/bin/bash

{{- if .Spec.Proxy.Java.Rcon.Enabled }}
mkdir -p /tmp/bungee-rcon/
echo "port: {{.Spec.Proxy.Java.Rcon.Port}}" > /tmp/bungee-rcon/config.yml
echo "password: {{.Spec.Proxy.Java.Rcon.Password}}" >> /tmp/bungee-rcon/config.yml
{{- end }}


tee /etc/systemd/system/minecraft.service <<EOF
[Unit]
Description=Minecraft Proxy Server
[Service]
WorkingDirectory=/minecraft
Type=simple
ExecStart=/usr/bin/java -Xmx{{.Spec.Proxy.Java.Xmx}} -Xms{{.Spec.Proxy.Java.Xms}}{{range .Spec.Proxy.Java.Options }} {{.}}{{end}} -jar proxy.jar
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
EOF
apt update
apt-get install -y apt-transport-https ca-certificates curl openjdk-{{.Spec.Proxy.Java.OpenJDK}}-jre-headless fail2ban
mkdir /minecraft
{{- if eq .Spec.Proxy.Type "bungeecord" }}
{{- template "bungeecord-binary" . }}
{{- else if eq .Spec.Proxy.Type "waterfall" }}
{{- template "waterfall-binary" . }}
{{- else if eq .Spec.Proxy.Type "velocity" }}
{{- template "velocity-binary" . }}
{{- end }}

sed -i 's/#Port 22/Port {{ .Spec.Server.SSH.Port }}/g' /etc/ssh/sshd_config
service sshd restart

tee /etc/fail2ban/jail.local <<EOF
[sshd]
port = {{ .Spec.Server.SSH.Port }}
enabled = true
maxretry = {{ .Spec.Server.SSH.Fail2ban.Maxretry }}
bantime = {{ .Spec.Server.SSH.Fail2ban.Bantime }}
ignoreip = {{ .Spec.Server.SSH.Fail2ban.Ignoreip }}
EOF
systemctl restart fail2ban

systemctl restart minecraft.service
systemctl enable minecraft.service
{{- end -}}