.idea
**/passwords
**/server.properties
tmp*/
bin/
dist/
coverage.out
revive.log
**/.DS_Store
**/key.json
/minectl
**/azure.auth
**/ssh/
**/cosign.key
**/oracleidentitycloudservice_*.pem
**/cosign-*
**/cosign-*.sig
