{{- define "bedrock-binary" }}
  - URL=$(curl -s https://bedrock-version.minectl.ediri.online/binary/{{ .Spec.Minecraft.Version }})
  - curl -sLSf $URL > /tmp/bedrock-server.zip
  - unzip -o /tmp/bedrock-server.zip -d /minecraft
  - chmod +x /minecraft/bedrock_server
  - wget http://security.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1-1ubuntu2.1~18.04.20_amd64.deb
  - dpkg -i libssl1.1_1.1.1-1ubuntu2.1~18.04.20_amd64.deb
{{- end }}
