{{- define "cloud-config" -}}
#cloud-config
{{- if eq .Spec.Server.Cloud "multipass" }}
ssh_authorized_keys:
- {{.SSHPublicKey}}
{{- end }}
users:
  - default
  {{- if .Spec.Monitoring.Enabled }}
  - name: prometheus
    shell: /bin/false
  - name: node_exporter
    shell: /bin/false
  {{ if ne .Spec.Minecraft.Edition "bedrock" -}}
  - name: minecraft_exporter
    shell: /bin/false
  {{- end }}
  {{- end }}
package_update: true

packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - {{if ne .Spec.Minecraft.Edition "bedrock"}}openjdk-{{.Spec.Minecraft.Java.OpenJDK}}-jre-headless{{else if eq .Spec.Minecraft.Edition "bedrock"}}unzip{{end}}
  - fail2ban
{{- if .Mount }}
fs_setup:
  - label: minecraft
    device: /dev/{{.Mount}}
    filesystem: xfs
    overwrite: false

mounts:
  - [/dev/{{.Mount}}, /minecraft]
{{- end }}
# Enable ipv4 forwarding, required on CIS hardened machines
write_files:
  - path: /etc/sysctl.d/enabled_ipv4_forwarding.conf
    content: |
      net.ipv4.conf.all.forwarding=1
  - path: /tmp/server.properties
    content: |
      {{- range $element := .Properties }}
       {{ $element -}}
      {{- end -}}
      {{- if .Spec.Minecraft.Java.Rcon.Enabled -}}
       broadcast-rcon-to-ops={{.Spec.Minecraft.Java.Rcon.Broadcast}}
       rcon.port={{.Spec.Minecraft.Java.Rcon.Port}}
       enable-rcon={{.Spec.Minecraft.Java.Rcon.Enabled}}
       rcon.password={{.Spec.Minecraft.Java.Rcon.Password}}
      {{- end }}
       server-port={{.Spec.Server.Port}}
  {{- if .Spec.Monitoring.Enabled }}
  {{- template "monitoring-files" . }}
  {{- end }}
  - path: /etc/systemd/system/minecraft.service
    content: |
      [Unit]
      Description=Minecraft Server
      Documentation=https://www.minecraft.net/en-us/download/server
      DefaultDependencies=no
      After=network.target
      [Service]
      WorkingDirectory=/minecraft
      Type=simple
      {{- if and (ne .Spec.Minecraft.Edition "bedrock") (ne .Spec.Minecraft.Edition "forge") }}
      ExecStart=/usr/bin/java -Xmx{{.Spec.Minecraft.Java.Xmx}} -Xms{{.Spec.Minecraft.Java.Xms}}{{range .Spec.Minecraft.Java.Options }} {{.}}{{end}} -jar server.jar nogui {{- if or (eq .Spec.Minecraft.Edition "nukkit") (eq .Spec.Minecraft.Edition "powernukkit") }} --language eng {{- end }}
      {{- else if eq .Spec.Minecraft.Edition "bedrock" }}
      ExecStart=/bin/sh -c "LD_LIBRARY_PATH=. ./bedrock_server"
      {{- else if eq .Spec.Minecraft.Edition "forge" }}
      ExecStart=/bin/sh -c "./run.sh"
      {{- end }}
      Restart=on-failure
      RestartSec=5
      [Install]
      WantedBy=multi-user.target
  - path: /etc/fail2ban/jail.local
    content: |
      [sshd]
      port = {{ .Spec.Server.SSH.Port }}
      enabled = true
      maxretry = {{ .Spec.Server.SSH.Fail2ban.Maxretry }}
      bantime = {{ .Spec.Server.SSH.Fail2ban.Bantime }}
      ignoreip = {{ .Spec.Server.SSH.Fail2ban.Ignoreip }}

runcmd:
  - iptables -I INPUT -j ACCEPT
  {{- if .Spec.Monitoring.Enabled }}
  {{- template "monitoring-binaries" . }}
  {{- end }}
  {{- if not .Mount }}
  - mkdir -p /minecraft
  {{- end }}
  - sed -i 's/#Port 22/Port {{ .Spec.Server.SSH.Port }}/g' /etc/ssh/sshd_config
  - service sshd restart
  - systemctl restart fail2ban
  {{- if eq .Spec.Minecraft.Edition "java" }}
    {{- template "java-binary" . }}
  {{- else if eq .Spec.Minecraft.Edition "bedrock" }}
    {{- template "bedrock-binary" . }}
  {{- else if eq .Spec.Minecraft.Edition "papermc" }}
    {{- template "papermc-binary" . }}
  {{- else if eq .Spec.Minecraft.Edition "purpur" }}
    {{- template "purpur-binary" . }}
  {{- else if or (eq .Spec.Minecraft.Edition "spigot") (eq .Spec.Minecraft.Edition "craftbukkit") }}
    {{- template "spigotbukkit-binary" . }}
  {{- else if eq .Spec.Minecraft.Edition "fabric" }}
    {{- template "fabric-binary" . }}
  {{- else if eq .Spec.Minecraft.Edition "forge" }}
    {{- template "forge-binary" . }}
  {{- else if eq .Spec.Minecraft.Edition "nukkit" }}
    {{- template "nukkit-binary" . }}
  {{- else if eq .Spec.Minecraft.Edition "powernukkit" }}
    {{- template "powernukkit-binary" . }}
  {{- end }}
  - echo "eula={{ .Spec.Minecraft.Eula }}" > /minecraft/eula.txt
  - mv /tmp/server.properties /minecraft/server.properties
  - chmod a+rwx /minecraft
  - systemctl restart minecraft.service
  - systemctl enable minecraft.service
{{- end -}}
