#!/bin/bash

tee /tmp/server.properties <<EOF
{{ .Spec.Minecraft.Properties }}
{{- if .Spec.Minecraft.Java.Rcon.Enabled -}}
broadcast-rcon-to-ops={{.Spec.Minecraft.Java.Rcon.Broadcast}}
rcon.port={{.Spec.Minecraft.Java.Rcon.Port}}
enable-rcon={{.Spec.Minecraft.Java.Rcon.Enabled}}
rcon.password={{.Spec.Minecraft.Java.Rcon.Password}}
{{- end }}
EOF

tee /tmp/prometheus.yml <<EOF
global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node_exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9100']
  {{- if eq .Spec.Minecraft.Edition "java" }}
  - job_name: 'minecraft_exporter'
    scrape_interval: 1m
    static_configs:
      - targets: ['localhost:9150']
  {{- end }}
EOF
tee /etc/systemd/system/prometheus.service <<EOF
[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/usr/local/bin/prometheus \
    --config.file /etc/prometheus/prometheus.yml \
    --storage.tsdb.path /var/lib/prometheus/ \
    --web.console.templates=/etc/prometheus/consoles \
    --web.console.libraries=/etc/prometheus/console_libraries

[Install]
WantedBy=multi-user.target
EOF
tee /etc/systemd/system/node_exporter.service <<EOF
[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter

[Install]
WantedBy=multi-user.target
EOF
{{- if eq .Spec.Minecraft.Edition "java" }}
tee /etc/systemd/system/minecraft-exporter.service <<EOF
[Unit]
Description=Minecraft Exporter
Wants=network-online.target
After=network-online.target
[Service]
User=minecraft_exporter
Group=minecraft_exporter
Type=simple
ExecStart=/usr/local/bin/minecraft-exporter \
  --mc.rcon-password={{.Spec.Minecraft.Java.Rcon.Password}}
[Install]
WantedBy=multi-user.target
EOF
{{ end }}
tee /etc/systemd/system/minecraft.service <<EOF
[Unit]
Description=Minecraft Server
Documentation=https://www.minecraft.net/en-us/download/server

[Service]
WorkingDirectory=/minecraft
Type=simple
{{- if eq .Spec.Minecraft.Edition "java" }}
ExecStart=/usr/bin/java -Xmx{{.Spec.Minecraft.Java.Xmx}} -Xms{{.Spec.Minecraft.Java.Xms}} -jar server.jar nogui
{{ else if eq .Spec.Minecraft.Edition "bedrock" }}
ExecStart=/bin/sh -c "LD_LIBRARY_PATH=. ./bedrock_server"
{{- end }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
EOF
apt update
apt-get install -y apt-transport-https ca-certificates curl {{if eq .Spec.Minecraft.Edition "java"}}openjdk-16-jre-headless{{else if eq .Spec.Minecraft.Edition "bedrock"}}unzip{{end}} fail2ban

useradd prometheus -s /bin/false
useradd node_exporter -s /bin/false
{{- if eq .Spec.Minecraft.Edition "java" }}
useradd minecraft_exporter -s /bin/false
{{- end }}

export PROM_VERSION=2.28.1
mkdir /etc/prometheus
mkdir /var/lib/prometheus
curl -sSL https://github.com/prometheus/prometheus/releases/download/v$PROM_VERSION/prometheus-$PROM_VERSION.linux-amd64.tar.gz | tar -xz
cp prometheus-$PROM_VERSION.linux-amd64/prometheus /usr/local/bin/
cp prometheus-$PROM_VERSION.linux-amd64/promtool /usr/local/bin/
chown prometheus:prometheus /usr/local/bin/prometheus
chown prometheus:prometheus /usr/local/bin/promtool
cp -r prometheus-$PROM_VERSION.linux-amd64/consoles /etc/prometheus
cp -r prometheus-$PROM_VERSION.linux-amd64/console_libraries /etc/prometheus
chown -R prometheus:prometheus /var/lib/prometheus
chown -R prometheus:prometheus /etc/prometheus/consoles
chown -R prometheus:prometheus /etc/prometheus/console_libraries
mv /tmp/prometheus.yml /etc/prometheus/prometheus.yml
chown prometheus:prometheus /etc/prometheus/prometheus.yml
systemctl daemon-reload
systemctl start prometheus
systemctl enable prometheus

export NODE_EXPORTER_VERSION=1.1.2
curl -sSL https://github.com/prometheus/node_exporter/releases/download/v$NODE_EXPORTER_VERSION/node_exporter-$NODE_EXPORTER_VERSION.linux-amd64.tar.gz | tar -xz
cp node_exporter-$NODE_EXPORTER_VERSION.linux-amd64/node_exporter /usr/local/bin
chown node_exporter:node_exporter /usr/local/bin/node_exporter
systemctl daemon-reload
systemctl start node_exporter
systemctl enable node_exporter

{{ if eq .Spec.Minecraft.Edition "java" -}}
export MINECRAFT_EXPORTER_VERSION=0.4.0
curl -sSL https://github.com/dirien/minecraft-prometheus-exporter/releases/download/v$MINECRAFT_EXPORTER_VERSION/minecraft-exporter_$MINECRAFT_EXPORTER_VERSION.linux-amd64.tar.gz | tar -xz
cp minecraft-exporter /usr/local/bin
chown minecraft_exporter:minecraft_exporter /usr/local/bin/minecraft-exporter
systemctl start minecraft-exporter.service
systemctl enable minecraft-exporter.service
{{ end -}}

ufw allow ssh
ufw allow 5201
{{ if eq .Spec.Minecraft.Edition "java" }}
ufw allow proto udp to 0.0.0.0/0 port 25565
{{ else if eq .Spec.Minecraft.Edition "bedrock" -}}
ufw allow proto udp to 0.0.0.0/0 port 19132
{{- end }}

echo [DEFAULT] | sudo tee -a /etc/fail2ban/jail.local
echo banaction = ufw | sudo tee -a /etc/fail2ban/jail.local
echo [sshd] | sudo tee -a /etc/fail2ban/jail.local
echo enabled = true | sudo tee -a /etc/fail2ban/jail.local
sudo systemctl restart fail2ban
mkdir /minecraft

{{ if .Mount -}}
mkfs.ext4  /dev/{{ .Mount }}
mount /dev/{{ .Mount }} /minecraft
echo "/dev/{{ .Mount }} /minecraft ext4 defaults,noatime,nofail 0 2" >> /etc/fstab
{{- end }}

{{ if eq .Spec.Minecraft.Edition "java" -}}
URL=$(curl -s https://java-version.minectl.ediri.online/binary/{{ .Spec.Minecraft.Version }})
curl -sLSf $URL > /minecraft/server.jar
{{ else if eq .Spec.Minecraft.Edition "bedrock" -}}
URL=$(curl -s https://bedrock-version.minectl.ediri.online/binary/{{ .Spec.Minecraft.Version }})
curl -sLSf $URL > /tmp/bedrock-server.zip
unzip -o /tmp/bedrock-server.zip -d /minecraft
chmod +x /minecraft/bedrock_server
{{- end }}
echo "eula=true" > /minecraft/eula.txt
mv /tmp/server.properties /minecraft/server.properties
systemctl restart minecraft.service
systemctl enable minecraft.service