{{- define "bash" -}}
#!/bin/bash
iptables -I INPUT -j ACCEPT
tee /tmp/server.properties <<EOF
server-port={{.Spec.Server.Port}}
{{ .Spec.Minecraft.Properties }}
{{- if .Spec.Minecraft.Java.Rcon.Enabled }}
broadcast-rcon-to-ops={{.Spec.Minecraft.Java.Rcon.Broadcast}}
rcon.port={{.Spec.Minecraft.Java.Rcon.Port}}
enable-rcon={{.Spec.Minecraft.Java.Rcon.Enabled}}
rcon.password={{.Spec.Minecraft.Java.Rcon.Password}}
{{- end }}
EOF

{{- if .Spec.Monitoring.Enabled }}
{{- template "monitoring-files" . }}
{{- end }}
tee /etc/systemd/system/minecraft.service <<EOF
[Unit]
Description=Minecraft Server
Documentation=https://www.minecraft.net/en-us/download/server

[Service]
WorkingDirectory=/minecraft
Type=simple
{{- if ne .Spec.Minecraft.Edition "bedrock" }}
ExecStart=/usr/bin/java -Xmx{{.Spec.Minecraft.Java.Xmx}} -Xms{{.Spec.Minecraft.Java.Xms}}{{range .Spec.Minecraft.Java.Options }} {{.}}{{end}} -jar server.jar nogui {{- if eq .Spec.Minecraft.Edition "nukkit" }} --language eng {{- end }}
{{ else if eq .Spec.Minecraft.Edition "bedrock" }}
ExecStart=/bin/sh -c "LD_LIBRARY_PATH=. ./bedrock_server"
{{- end }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
EOF
apt update
apt-get install -y apt-transport-https ca-certificates curl {{if ne .Spec.Minecraft.Edition "bedrock"}}openjdk-{{.Spec.Minecraft.Java.OpenJDK}}-jre-headless{{else if eq .Spec.Minecraft.Edition "bedrock"}}unzip{{end}} fail2ban
{{- if .Spec.Monitoring.Enabled }}
{{- template "monitoring-binaries" . }}
{{- end }}
ufw allow ssh
ufw allow 5201
{{ if and (ne .Spec.Minecraft.Edition "bedrock") (ne .Spec.Minecraft.Edition "nukkit") }}
ufw allow proto tcp to 0.0.0.0/0 port {{.Spec.Server.Port}}
{{ else -}}
ufw allow proto udp to 0.0.0.0/0 port {{.Spec.Server.Port}}
{{- end }}

echo [DEFAULT] | sudo tee -a /etc/fail2ban/jail.local
echo banaction = ufw | sudo tee -a /etc/fail2ban/jail.local
echo [sshd] | sudo tee -a /etc/fail2ban/jail.local
echo enabled = true | sudo tee -a /etc/fail2ban/jail.local
sudo systemctl restart fail2ban
mkdir /minecraft

{{- if .Mount }}
mkfs.ext4  /dev/{{ .Mount }}
mount /dev/{{ .Mount }} /minecraft
echo "/dev/{{ .Mount }} /minecraft ext4 defaults,noatime,nofail 0 2" >> /etc/fstab
{{- end }}
{{- if eq .Spec.Minecraft.Edition "java" }}
{{- template "java-binary" . }}
{{- else if eq .Spec.Minecraft.Edition "bedrock" }}
{{- template "bedrock-binary" . }}
{{- else if eq .Spec.Minecraft.Edition "papermc" }}
{{- template "papermc-binary" . }}
{{- else if or (eq .Spec.Minecraft.Edition "spigot") (eq .Spec.Minecraft.Edition "craftbukkit") }}
{{- template "spigotbukkit-binary" . }}
{{- else if eq .Spec.Minecraft.Edition "fabric" }}
{{- template "fabric-binary" . }}
{{- else if eq .Spec.Minecraft.Edition "forge" }}
{{- template "forge-binary" . }}
{{- else if eq .Spec.Minecraft.Edition "nukkit" }}
{{- template "nukkit-binary" . }}
{{- end }}
echo "eula={{ .Spec.Minecraft.Eula }}" > /minecraft/eula.txt
mv /tmp/server.properties /minecraft/server.properties
systemctl restart minecraft.service
systemctl enable minecraft.service
{{- end -}}