{{- define "config" -}}
apiVersion: minectl.ediri.io/v1alpha1
kind: MinecraftServer
metadata:
  name: {{ .Name }}
spec:
{{- if ne .Edition "bedrock" }}
{{- range $element := .Features }}
{{- if eq $element "Monitoring" }}
  monitoring:
    enabled: true
{{- end }}
{{- end }}
{{- end }}
  server:
    cloud: {{ .Provider }}
    region: {{ .Region }}
    size: {{ .Plan }}
    ssh:
      port: {{ .SSHPort }}
      keyfolder: {{ .SSH }}
      fail2ban:
        bantime: {{ .BanTime }}
        maxretry: {{ .MaxRetry }}
    port: {{ if and (ne .Edition "bedrock") (ne .Edition "nukkit") (ne .Edition "powernukkit") }}25565{{ else }}19132{{ end }}
  minecraft:
{{- if ne .Edition "bedrock" }}
    java:
      openjdk: {{ .Java }}
      xmx: {{ .Heap }}
      xms: {{ .Heap }}
{{- range $element := .Features }}
{{- if eq $element "RCON" }}
      rcon:
        password: {{ $.RconPw }}
        port: 25575
        enabled: true
        broadcast: true
{{- end }}
{{- end }}
{{- end }}
    edition: {{ .Edition }}
    version: {{ .Version }}
    eula: true
    properties: |
{{ (indent 6 .Properties)  }}
{{- end -}}