name: Call OSSF Scorecard Action

on:
  workflow_call:
  workflow_dispatch:
  branch_protection_rule:
  schedule:
    # Weekly on Saturdays.
    - cron: '30 1 * * 6'
  push:
    branches: [ main, master ]

jobs:
  call-workflow-passing-data:
    uses: dirien/.github/.github/workflows/ossf-scorecard-action.yaml@main
    env:
      GITHUB_TOKEN: ${{ secrets.SCORECARD_READ_TOKEN }}
